<!-- Name: Ken Wang
     UID: u1193853 -->
@{
    @using Microsoft.AspNetCore.Identity;
    ViewData["Title"] = "UserRoels";
    var map = ViewData["UserRoleMap"] as Dictionary<string[], bool[]>;
    var roles = ViewData["Roles"] as List<IdentityRole>;
    var active = "";
}

<script>
    function doPost(id, first, last, role) {
        // Get all the classes
        var classList = $(id).attr('class').split(/\s+/);
        var action = 'authorize';
        if (classList.includes('active')) {
            action = 'revoke';
            $(id).removeClass('active');
        }
        else {
            $(id).addClass('active');
        }

        // If there is "active" class before hitting, revoking role action
        Swal.fire({
            html: 'Are you sure to ' + '<strong>' + action.toUpperCase() +
                '</strong>' + ' ' + '<strong>' + role + '</strong>' + ' to: ' +
                '<br>' + '<strong>' +
                first + ' ' + last + ' ?' + '</strong>',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                var myObject = JSON.stringify({
                    'First': first,
                    'Last': last,
                    'Action': action,
                    'Role': role
                });
                // Actual post to controller
                $.ajax({
                    url: '/Admin/onPostRoleChangeAsync',
                    data: myObject,
                    contentType: 'application/json',
                    type: 'POST',
                    success: function (data) {
                        Swal.fire(
                            'Success!',
                            'Your changes has been saved.',
                            'success'
                        );
                        console.log(data);
                    },
                    error: function (xhr, status, error) {
                        Swal.fire(
                            'Failed!',
                            'Your cannot remove the last admin',
                            'error'
                        );
                        $(id).addClass('active');
                    }
                })
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then(function (success) {
            // When Cancel clicked, revert back the active class.
            if (success.value) {
                if (classList.includes('active')) {
                    $(id).removeClass('active');
                }
                else {
                    $(id).addClass('active');
                }
            }
        });
    };

</script>

<h1 class="display-4  pb-2">User Roles and Permission List</h1>

<div class="container">
    <div class="text-center">
        <div class="table-responsive rounded">
            <table class="table rounded table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th class="text-center">
                            User
                        </th>
                        <th class="text-center">
                            Roles
                        </th>
                    </tr>
                </thead>
                <tbody class="rounded">
                    @foreach (KeyValuePair<string[], bool[]> pair in map)
                    {
                        <tr>
                            <td scope="row">@pair.Key[0] @pair.Key[1]</td>

                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                    @if (pair.Value[0])
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }
                                    <label class="btn btn-secondary @(active)" onclick="doPost(this,'@pair.Key[0]','@pair.Key[1]', 'Admin')">
                                        <input type="checkbox" checked autocomplete="off"> Admin
                                    </label>
                                    @if (pair.Value[1])
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }
                                    <label class="btn btn-secondary @(active)" onclick="doPost(this,'@pair.Key[0]','@pair.Key[1]', 'DepartmentChair')">
                                        <input type="checkbox" id="chair"> DepartmentChair
                                    </label>
                                    @if (pair.Value[2])
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }
                                    <label class="btn btn-secondary @(active)" onclick="doPost(this,'@pair.Key[0]','@pair.Key[1]', 'Instructor')">
                                        <input type="checkbox" checked autocomplete="off"> Instructor
                                    </label>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
