@model CS4540_A2.Models.Course

@{
    ViewData["Title"] = "Details";
}

    <div>
        <h1 class="display-4">
            @Html.DisplayFor(model => model.Dept) -
            @Html.DisplayFor(model => model.Number) -
            @Html.DisplayFor(model => model.Semester) -
            @Html.DisplayFor(model => model.Year)
        </h1>
        <h1 class="display-4">
            @Html.DisplayFor(model => model.Name)
        </h1>
    </div>

<div>
    <hr />
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Learning Outcome</th>
                <th scope="col">
                    Evaluation Metric
                    <button class="btn btn btn-default bg-light btn-xs btn-edit">Edit</button>
                </th>
                <th scope="col">
                    Examples
                    <button class="btn btn btn-default bg-light btn-xs  btn-edit">Edit</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Master HTML</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">HTML</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master CSS</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">CSS</a></td>
                <td>
                    <a class="btn btn-info btn-xs  disable" href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master BootStrap</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">BootStrap</a></td>
                <td>
                    <a class="btn btn-info btn-xs disable" href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master JavaScript</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">JavaScript</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master MVC</td>
                <td><a class="notSubmited" href="~/files/DummyAssgn.pdf">MVC</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master Visual Studio</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">Visual Studio</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master Mysql</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">Mysql</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master Deployment To Cloud</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">Cloud</a></td>
                <td>
                    <a class="btn btn-info btn-xs " href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
            <tr>
                <td>Master Full Stack</td>
                <td><a href="~/files/DummyAssgn.pdf" target="_blank">Final Project</a></td>
                <td>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Good</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Average</a>
                    <a class="btn btn-info btn-xs disabled" href="~/files/Dummy.html">Poor</a>
                </td>
            </tr>
        </tbody>
    </table>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dept)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
